*
{
	font-family: 'Scope One', serif;
	box-sizing: border-box;
	background-color: #f6fafb;
}
.about
{
	list-style: none;
}

body
{
	background-color: #f6fafb;
}

}
/*break-point*/
@media (max-width: 640px) 
{

}