*
{
	font-family: 'Scope One', serif;
	box-sizing: border-box;
	background-color: #f6fafb;
	list-style: none;
}
.nav
{
	position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding-top: 80px;
    padding-left: 20px;
  
}
.index
{
	text-align: left;
	display: inline-block;
	position: normal;
	height: 200px;
	width: 200px;
	color: #bfbfbf;
	padding-bottom: 20px;

}

.link a
{
	text-decoration: none;
	color: black;
	font-weight: 400;
	font-size: 20px;


}
.link a:hover 
{
	color: turquoise;
}

li
{
	margin: 20px;
}

h1
{
	height: 150px;
	text-align: center;
	margin-top: 10px;

}

body
{
	background-color: #f6fafb;
}
.luisa
{
	display: inline-block;
	border: none;
	position: static;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	top: 800px;
}
.nothing
{
	border-bottom: 3px solid black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
}
/*break-point*/
@media (max-width: 640px) 
{

}