*
{
	font-family: 'Scope One', serif;
	box-sizing: border-box;
	background-color: #f6fafb;
	list-style: none;
}
.nav
{
    /*top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding-top: 80px;
    padding-left: 20px;
		*/
}

.index
{
	text-align: left;
	display: inline-block;
	position: normal;
	height: 200px;
	width: 200px;
	color: #bfbfbf;
	padding-bottom: 20px;
}

.link a
{
	text-decoration: none;
	color: black;
	font-weight: 400;
	font-size: 20px;
}
.link a:hover 
{
	color: turquoise;
}

li
{3
	margin: 20px;
}

h1
{
	height: 150px;
	text-align: center;
	margin-top: 10px;
	
	}

body
{
	background-color: #f6fafb;
	display: flex;
}
.luisa
{
	display: inline-block;
	border: none;
	position: static;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	top: 800px;
}
.nothing
{
	border-bottom: 3px solid black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.column img {
	
	width: 100%;
}
.column {
	flex-grow: 1;
	flex-basis: 0;
	font-size: 0;
	padding-left: 10px;
}

/*break-point*/
@media (max-width: 640px) 
{
 .nav {
	 width: 100%;
 }

}

@media only screen and (min-width: 800px) {

{
    /* do something to
    over-ride settings at previous threshold settings*/
}
