*
{
	font-family: 'Scope One', serif;
	box-sizing: border-box;
	list-style: none;
}

header {
	background-image: url("./images/luisa.jpg");
	background-size: cover;
	height: 100%;
}
html, body {
	width: 100%;
	height: 100%;
}
body
{
	background-color: #f6fafb;
	/*display: flex;*/
}

.title
{
	position: fixed;
	right: 50%;
	top: 200px;
	width: 100%;
	}

	h1 span
	{
		color: whitesmoke;  
		font-size: 40px;
	}

.nav
{
	width: 100%;
    /*top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding-top: 80px;
    padding-left: 20px;
		*/
}
.page-about {
	height: 100vh;
	background-color: #faf7f4;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

}
.page-contact {
	height: 100vh;
	background-color: turquoise;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index
{
	text-align: center;
	display: block;
	margin: auto;
	position: normal;
	height: 200px;
	width: 200px;
	color: #bfbfbf;
	padding-bottom: 20px;
}

.link a
{
	text-decoration: none;
	color: black;
	font-weight: 400;
	font-size: 20px;
}
.link a:hover 
{
	color: turquoise;
}

li
{
	margin: 20px;
}

.luisa
{
	position: relative;
	width: 100;
	/*display: inline-block;
	border: none;
	position: static;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	top: 800px;*/
}
.nothing
{
	border-bottom: 3px solid black;
	width: 50%;
	text-align: center;
}

.column img {
	
	width: 100%;
}
.column {
	flex-grow: 1;
	flex-basis: 0;
	font-size: 0;
	padding-left: 10px;
}

/*break-point*/
@media only screen and (max-width: 500px) {
.head {
	width: 100%;
}
.nav {
	width: 100%;
}

h2 {
	font-size: 3em;
	width: 100%;
}
main
{
	display: block;
}
}

@media only screen and (min-width: 800px) {

}
@media only screen and (max-width: 500px) {
	* {
		width: 100%;
	}
}